.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #121212;
  border-radius: 5px;
  padding: 30px;
  border: solid 2px #111;
  -webkit-transition: border-color 0.15s ease;
  -moz-transition: border-color 0.15s ease;
  transition: border-color 0.15s ease;
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  > div {
    height: 100%;

    > h3 {
      margin: 0 0 20px 0;
      font-size: 2em;
      font-weight: 300;
    }

    > p {
      font-size: 1em;
      margin: 0 0 10px 0;
      opacity: 0.5;
    }
  }

  > span {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5em;
    color: #121212;
    text-decoration: none;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    transition: color 0.15s ease;
  }

  &:hover {
    border-color: #7159c1;

    > span {
      color: #7159c1;
    }
  }
}
