@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  background: #000;
  color: #fff;
}
